# Базы данных
*.db

# Виртуальное окружение
.venv/
venv/
env/

# Кэш Python
__pycache__/
*.pyc
*.pyo

# Настройки среды разработки (PyCharm)
.idea/

# Переменные окружения
.env

# Системные файлы macOS
.DS_Store